@function rem($px, $base: 16) {
	$result: (($px / ($px * 0 + 1)) / $base) + rem;
	@return $result;
}

$polyfill-rem: true !default;
@mixin font-size($px: null, $base: 16){
	@if ($px == null) {
		@error "px 단위 값을 전달해주어야 합니다.";
	}

	@if ($polyfill-rem == true) {
		font-size: $px;
	}

	font-size: rem($px, $base);
}

