@import 'utils'

.main-video
  width: rem(1560px)
  margin:
    top: rem(57px)
    left: auto
    right: auto
  +media("<=huge-1366")

  +media("<=huge-1280")
    width: rem(1020px)
  +media("<=large-1024")
    width: rem(1000px)
  +media("<=medium-960")
    width: rem(900px)
  +media("<=medium-768")
    width: rem(700px)
  +media("<=small-600")
    width: rem(600px)
  +media("<=small-480")
    width: rem(480px)
  +media("<=small-376")
    width: rem(376px)
  .main-video-wrapper
    +relative
    cursor: pointer
    width: 100%
    height: 100%
    margin:
      left: auto
      right: auto
    .main-video__img
      width: 100%
      border:
        bottom: 2px solid $color-dddddd
      +media("<=medium-768")
        border: 0
    .main-video__youtue-icon
      +absolute(top 50% left 50%)
      transform: translate(-50%, -50%)
      width: 5%
      +media("<=large-1024")
        width: 6%
      +media("<=medium-768")
        width: 8%
      +media("<=small-600")
        width: 9%

  .main-video__title
    @extend %a11y-hidden
