@import 'utils'

.main-video
  width: 100%
  margin:
    top: rem(57px)
    left: auto
    right: auto
  .main-video-wrapper
    +relative
    cursor: pointer
    width: 100%
    height: 100%
    margin:
      left: auto
      right: auto
    .main-video__img
      width: 100%
      border:
        bottom: 2px solid $color-dddddd
      +media("<=medium-768")
        border: 0
    .main-video__youtue-icon
      +absolute(top 50% left 50%)
      transform: translate(-50%, -50%)
      width: 5%
      +media("<=large-1024")
        width: 6%
      +media("<=medium-768")
        width: 8%
      +media("<=small-600")
        width: 9%

  .main-video__title
    @extend %a11y-hidden
