@import 'index.sass'

.main-collection
  margin:
    top: rem(-76px)
  +media("<=large-1024")
    margin:
      top: rem(-62px)
  +media("<=medium-768")
    margin:
      top: rem(40px)
  .main-collection__title
    @extend %a11y-hidden

  .main-collection__tablist-wrapper
    .main-collection__tablist
      display: flex
      +media("<=medium-960")
        &::before
          width: 0
      +media("<=medium-768")
        &::before
          width: 0
          height: 0
          background: none
