@import 'index.sass'

.main-collection__content
  display: none
  width: 100%
  &.main-collection__content--active
    display: block
  .main-collection__contents__title
    margin:
      top: rem(45px)
    +font-size(24px)
    color: $color-777777
    text-align: center
  .main-collection__contents__title--emphasis
    color: $omega-keycolor
  .main-collection__contents__subtitle
    display: block
    margin:
      top: rem(17px)
    +font-size(16px)
    color: $color-777777
    text-align: center
    +media("<=huge-1280")
      margin:
        top: rem(9px)
      +font-size(14px)
    +media("<=medium-768")
      padding:
        left: rem(10px)
        right: rem(10px)
  .main-collection__content--list-wrapper
    display: flex
    margin:
      top: rem(26x)
    &::after
      @extend %clearfix
    +media("<=huge-1280")
      margin:
        top: rem(38px)
    +media("<=medium-768")
      display: block

    .main-collection__content--list
      flex-grow: 1
      width: 20%
      +relative
      @extend %reset-list
      &::after 
        +absolute(top rem(30px) left rem(-10px))
        content: ''
        width: rem(1px)
        height: 80%
        background: $color-d4d4d4
      &:nth-child(1)
        &::after
          width: 0
      +media("<=medium-768")
        flex-grow: 0
        float: left
        width: 50%
        &:nth-child(3)
          &::after
            width: 0
            height: 0
            background: none

      .main-collection__content--link
        display: block
        +font-size(16px)
        color: $color-777777

        .main-collection__content--img
          width: 100%
          height: 100%
          +media("<=medium-768")
            width: 80%
            height: 80%
        .main-collection__content--product-name
          overflow: hidden
          min-width: 0
          text-overflow: ellipsis
          white-space: nowrap
          text-align: center
          padding:
            left: rem(10px)
            right: rem(10px)


