@import 'index.sass'

.main-carousel
  +relative
  width: 100%
  margin:
    left: auto
    right: auto
  .main-carousel__title
    @extend %a11y-hidden

  .main-carousel__tablist-wrapper
    +absolute(left 50% bottom 20%)
    width: rem(200px)
    transform: translateX(-50%)
    z-index: 100
    +media("<=large-1024")
      display: none
    .main-carousel__tablist
      display: flex